<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page - Technocrats Robotics</title>
    <!-- <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}"> -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="page">
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="left-ele">TCR TASK 1</li>
        </ul>
      </nav>
    </div>
    <div>
      <section class="img-section">
        <!-- <img src="{{ url_for("static", filename= "tcr.jfif")}}" alt="img"> -->
        <img
          src="#"
          alt="img here"
          style="
            min-height: 200px;
            min-width: 200px;
            background-color: antiquewhite;
            border-radius: 8px;
          "
        />
      </section>
      <div
        style="
          background-color: antiquewhite;
          margin: 20px;
          padding: 10px;
          border-radius: 8px;
        "
      >
        <p>Presence:</p>
        <p>Corner:</p>
        <p>Area:</p>
      </div>
    </div>
    <footer class="footer-class">
      <p>&#169; Designed and Developed by Team 4-TCR</p>
    </footer>
  </body>
</html>
