<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Technocrats Task-1</title>
  <link rel="icon" href="{{ url_for("static", filename= "tcr.jfif")}}" type="image/jfif">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" />
</head>

<body>
  <div class="tm-page-container mx-auto">
    <header>
      <img src="{{ url_for("static", filename= "tcr.jfif")}}" class="tcr-img1"><h1>TECHNOCRATS ROBOTICS</h1>
      <p><i>Task-1: Take visual input from the environment, process it, present it to the user and give a tangible output</i></p>
    </header>
    <section class="tm-section">
      <nav class="tm-nav">
        <ul>
          <li class="active">
            <a href="#"><span class="tm-nav-deco"></span><b>Green Ball</b></a>
          </li>
          <li>
            <a href="{{ url_for('github')}}"><span class="tm-nav-deco"></span><b>Github Repository</b></a>
          </li>

        </ul>
      </nav>
      <div class="tm-content-container">
        <figure class="mb-0">
          <img src="{{ url_for('video_feed')}}" alt="Webcam" class="img-fluid tm-img" />
        </figure>
        <div class="tm-content">
          <h2 class="tm-page-title">Green Ball Detection</h2>
          <p class="mb-4">
		<table border="2">
			<tr>
			<th>Parameters</th>
			<th>Value</th>
			</tr>
			<tr>
				<td>Presence</td>
				<td id="present_f" style="color: #d9534f; font-weight: bolder;"></td>
				<td id="present_t" style="color: #5cb85c; font-weight: bolder;"></td>
			</tr>
			<tr>
				<td>Area</td>
				<td id="area_f" style="color: #d9534f; font-weight: bolder;"></td>
				<td id="area_t" style="color: #5cb85c; font-weight: bolder;"></td>
			</tr>

			<tr>
				<td>Nearest Corner</td>
				<td id="position_f" style="color: #d9534f; font-weight: bolder;"></td>
				<td id="position_t" style="color: #5cb85c; font-weight: bolder;"></td>
			</tr>
		</table>
          </p>
        </div>
      </div>
    <footer>
      <br>
      <style>
	ul, li{
	display: inline;
}
</style>
      <b><span>© Designed and Developed by Team 4<br><ul><li>&bull;&nbsp;Hariket Sheth&nbsp;&nbsp;&bull;&nbsp;Nimish Kashyap&nbsp;&nbsp;&bull;&nbsp;Nitesh Kumar</li></ul></span></b>
    </footer>
    </section>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
     $.getJSON('/status' ,
        function(parameters) {
	if(parameters.present =="FALSE"){
           $("#present_f").text(parameters.present).show(); 
           $("#position_f").text(parameters.position).show();
           $("#area_f").text(parameters.area).show();
           $("#present_t").text(parameters.present).hide();
           $("#position_t").text(parameters.position).hide();
           $("#area_t").text(parameters.area).hide();
}
else{
           $("#present_t").text(parameters.present).show();
           $("#position_t").text(parameters.position).show();
           $("#area_t").text(parameters.area).show();
           $("#present_f").text(parameters.present).hide();
           $("#position_f").text(parameters.position).hide();
           $("#area_f").text(parameters.area).hide();
}
       });
       setTimeout(arguments.callee, 500);
   });
    </script>

</body>

</html>
